            :root {
               font-family: Verdana, Geneva, Tahoma, sans-serif;
               font-size: 15px;
           }
           
           canvas {
               position: fixed;
               top: 0;
               left: 0;
           }
           
           main {
               position: absolute;
               width: 30vw;
               margin-left: 10vw;
               display: grid;
           }
           
           header {
               /* background-color: aliceblue;
       min-width: 40vw;
       height: 20vh;
       /* margin-bottom: 20vh; */
               */
           }
           
           section {
               min-width: 40vw;
               min-height: 20vh;
               background-color: antiquewhite;
               margin-bottom: 20vh;
               padding: 5rem;
           }
           
           blockquote {
               min-width: 40vw;
               margin-left: 0;
               min-height: 20vh;
               background-color: antiquewhite;
               margin-bottom: 20vh;
               padding: 5rem;
           }